#subscribe {
  height: 500px;
  background: AntiqueWhite;
  overflow: auto;
}

#subscribe > div > span {
  font-weight: bold;
}
.black{
  color: black;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.blue {
  color: blue;
}

.red {
  color: red;
}
